.LandingPage img {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
}

.LandingPage h1 {
  font-size: 32px;
  text-align: center;
}

.LandingPage section {
  text-align: center;
}

.LandingPage img {
  width: 40%;
}
