.PlaySheet {
  margin-top: 10px;
}
.PlaySheet h3 {
  margin: 0;
}

.PlaySheet h6 {
  margin: 5px 10px 0 0;
  font-size: 18px;
  border: 1px solid black;
  padding: 5px;
  width: 150px;
  text-align: center;
}

.PlaySheet .FlexboxContainer {
  padding-top: 10px;
}

.PlaySheet div {
  font-size: 12px;
}
