@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap");

main {
  padding: 10px;
}
/* adds flexbox */
.FlexboxContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.App {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(231, 230, 220);
}

h2 {
  color: rgb(212, 50, 45);
}

h1 {
  color: rgb(212, 50, 45);
}
/* create button css to use for most buttons */
.ClassicButton {
  width: 150px;
  margin-top: 10px;
  box-shadow: 2px 2px;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px auto;
}

/* remove counter from numbers */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
