.SheetNav a {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px;
  margin: 5px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.SheetNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.SelectedNav {
  background-color: #9d0a0e;
}

.NotSelected {
  background-color: #5a5a5a;
}
