.CharacterBox {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px;
  margin: 15px;
  padding: 10px;
  display: inline-block;
  text-align: center;
  width: 150px;
}

.CharacterBox a {
  width: 100%;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.CharacterLibrary {
  margin-top: 30px;
}
.CharacterLibrary h2 {
  text-align: center;
}
